#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        hm_left: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <125>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            require-prior-idle-ms = <175>;
            hold-trigger-key-positions = <7 8 9 10 11 12 13 26 27 41 40 25 39 24 38 37 23 36 22 21 35 45 46 47 7 8 9 10 11 12 13 21 22 23 24 25 26 27 35 36 37 38 39 40 41>;
        };

        hm_right: hm_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 6 14 15 16 17 18 19 20 28 29 30 31 32 33 34 42 43 44>;
        };
    };

    macros {
        CUT_WORD: CUT_WORD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT &kp RIGHT &kp LA(LEFT) &kp LS(LA(RIGHT)) &kp LG(X)>;
            label = "CUT_WORD";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC        &kp Q             &kp W            &kp E             &kp R            &kp T      &CUT_WORD    &kp RBKT   &kp Y    &kp U             &kp I              &kp O             &kp P                 &kp LEFT_BRACKET
&kp TAB        &hm_left LCTRL A  &hm_left LALT S  &hm_left LSHFT D  &hm_left LGUI F  &kp G      &kp LBRC     &kp RBRC   &kp H    &hm_right RGUI J  &hm_right RSHFT K  &hm_right RALT L  &hm_right RCTRL SEMI  &kp SQT
&kp LESS_THAN  &kp Z             &kp X            &kp C             &kp V            &kp B      &mkp LCLK    &mkp RCLK  &kp N    &kp M             &kp COMMA          &kp DOT           &kp FSLH              &kp MINUS
                                                  &mo 2             &mo 1            &kp SPACE                          &kp RET  &kp BSPC          &kp EQUAL
            >;

            sensor-bindings = <&inc_dec_kp RIGHT LEFT &inc_dec_kp UP DOWN>;
        };

        lower_layer {
            bindings = <
&trans  &kp EXCL  &kp AT  &kp HASH  &kp DLLR      &kp PRCNT  &kp RBKT    &trans  &kp CARET  &kp AMPS       &kp ASTRK  &kp LPAR  &kp RPAR  &kp RIGHT_BRACKET
&trans  &kp N1    &kp N2  &kp N3    &kp N4        &kp N5     &trans      &trans  &kp N6     &kp N7         &kp N8     &kp N9    &kp N0    &trans
&trans  &trans    &trans  &trans    &kp LEFT_GUI  &trans     &trans      &trans  &trans     &kp RIGHT_GUI  &trans     &trans    &trans    &trans
                          &trans    &trans        &trans                         &kp BSLH   &kp PIPE       &trans
            >;

            sensor-bindings = <&inc_dec_kp RIGHT LEFT &inc_dec_kp UP DOWN>;
        };

        raise_layer {
            bindings = <
&trans  &kp EXCL    &kp AT        &kp HASH      &kp DLLR      &kp PRCNT  &trans    &trans  &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR  &kp RPAR  &trans
&kp F1  &kp F2      &kp F3        &kp F4        &kp F5        &kp F6     &trans    &trans  &kp F7     &kp F8    &kp F9     &kp F10   &kp F11   &kp F12
&trans  &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans     &trans    &trans  &kp UNDER  &kp PLUS  &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                                  &trans        &trans        &trans                       &trans     &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp RIGHT LEFT &inc_dec_kp UP DOWN>;
        };
    };
};
